/*
  Created by Kaspars Dambis
  http://konstruktors.com

  Modified for CODAME by Felipe Brahm
  http://codame.com/team
*/

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('open-sans.woff') format('woff');
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font:18px/1.2; margin:0 auto; padding:0; height:100%; width:100%;
  color: #fff;
  text-shadow:0 1px 0 rgba(0,0,0,0.5);
  background-color: #000;
  background-image: url('codame-background.jpg');
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#dialog {
  position: absolute;
  display: none;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

#dialog .container {
  position: relative;
  text-align: center;
  background: rgba(255,255,255,.9);
  color: #333;
  margin: 0 5%;
  padding: 100px 25px 100px 25px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 5px 5px 5px #333;
}

#dialog .explanation {
  font-size: 30px;
  font-weight: bold;
}

.codame-logo {
  position: absolute;
  right: -40px;
  bottom: -120px;
  width: 400px;
  height: 400px;
  z-index: -1;
}

.codame-logo img {
  width: 100%;
  height: 100%;
}

.tag-input {
  margin-top: 40px;
  margin-left: 50%;
  z-index: 15;
  text-align: center;
}

.tag-input h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  color: #fff;
  text-shadow: 0 -1px 0 #333;
  font-size: 40px;
}

.tag-input .message {
  margin-top: 10px;
  font-size: 13px;
}

.tag-input input {
  font-size: 40px;
}

.meta {
  margin-top: 180px;
  padding-right: 20px;
}

ul, li { margin:0; padding:0; list-style:none; display:block; }
cite { font-style:normal; font-weight:bold; }
h1 input { text-shadow:0 -1px 0 #333; margin:0; padding:0; border-radius:0.1em; }
h1:hover input { background:rgba(0,0,0,0.1); }
h1 img { vertical-align: middle; }
img { border-radius:0.2em; }
input { color:inherit; font:inherit; border:none; background:transparent; outline:none; }
.loading { opacity:0.5; -webkit-transition: all 0.5s; }
#slides { width:100%; position:absolute; top:0; bottom:0; overflow:hidden; -webkit-transition: all 0.5s; }
.slide { top:0; position:absolute; width:100%; height:100%; opacity:0; -webkit-transform: translate3d(0, 100%, 0);-webkit-transition: all 1.5s; }
.slide.active { top:0; opacity:1; -webkit-transform: translate3d(0,0,0); }
.slide figure { position:absolute; bottom:2em; top:0.5em; left:0; right:40%; }
.slide .image { width:auto; max-height:100%; max-width:100%; margin:0 auto; display:block; box-shadow:0 0 20px rgba(0,0,0,0.7); }
.slide .caption { font-size:24px; }
.author img { float:left; margin:0 -10em 0 -50px; }
.qr img { width:100px; height:100px; }
.meta { height:0; margin-left:64%; width:35%; position:relative; z-index:10; }
.meta cite { display:block; }
.comments { margin-left:1em; }
.comment { display:block; clear:both; min-height:2.5em; padding:0 2em 1em; margin:0; }